$dictionary$

In [2]:
list1=["ram","raheem","robert"]
list2=[25,30,35]
"ram has age 25"
"raheem has age 30"
"robert has age 35"

'robert has age 35'

In [3]:
for i,j in zip(list1,list2):
    print(i,j)

ram 25
raheem 30
robert 35

In [7]:
#{key:value}
d1={"ram":25,"raheem":30,"robert":35}
d1
#key=ram,raheem,robert
#value=25,30,35

{'ram': 25, 'raheem': 30, 'robert': 35}

In [8]:
d2={25:"ram",30:"raheem",35:"robert"}
d2
#key=25,30,35
#value=ram,raheem,robert

{25: 'ram', 30: 'raheem', 35: 'robert'}

In [9]:
d3={"evan":[2,4,6],"odd":[3,5,7]}
d3

{'evan': [2, 4, 6], 'odd': [3, 5, 7]}

In [10]:
d4={[2,4,6]:"even",[3,5,7]:"odd"}
d4
#if key is list will not work

TypeError: unhashable type: 'list'

In [11]:
d4={(2,4,6):"even"}
d4

{(2, 4, 6): 'even'}

In [12]:
#{"key":<{}>}
d5={"item_list":{"fruits":"apple"}}
d5

{'item_list': {'fruits': 'apple'}}

In [13]:
d6={{"fruits":"apple"}:"item_list"}
d6

TypeError: unhashable type: 'dict'

In [16]:
a=[1,2]
b=(1,2)
a,b=[1,2]
c,d=(1,2)
a,b

(1, 2)

In [17]:
a

1

In [18]:
b

2

In [19]:
c

1

In [20]:
d

2

In [21]:
a=1,2
a

(1, 2)

In [22]:
d1={"a":1,"b":2,"a":1}
d1

{'a': 1, 'b': 2}

In [23]:
d1={"a":1,"b":2,"a":3}
d1

{'a': 3, 'b': 2}

In [ ]:
#dictionary is a key:value pair
#at values position we can take any data type
#but at keys position list and dictionary will fail
#duplicates are not allowed
#if u want update a key value then it will take lastest value

$type$

In [24]:
type(d1)

dict

In [ ]:
-str
-list
-dict
-int
-float
-bool
-complex
-tuple
-set

In [28]:
d1={"ram":25,"raheem":30,"robert":3}
max(d1)
#this max we are getting based on key or value

'robert'

$note$:
max value and min value is based on key only

In [30]:
min(d1)

'raheem'

In [31]:
len(d1)  #3 elements

3

In [32]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
d2={100:2,3:4}
sum(d2)  #it will add the value of keys

103

$note$:if keys have numeric value it will work we can do sum

$in operator$

In [ ]:
d1={"ram":25,"raheem":30,"robert":35}
d1
"ram":25 in d1======fail
"ram" in d1======works
25 in d1=====fail

In [36]:
for i in d1:
    print(i)

ram
raheem
robert

$index$

In [37]:
l1=[10,20,30,40]
l1[0]

10

In [46]:
str1="apple"
str1[0]

'a'

In [40]:
d1={"ram":25,"raheem":30,"robert":35}
d1["ram"]

25

In [108]:
d1={"ram":25,"raheem":30,"robert":35}
for value in d1:
    print(value,d1[value])

ram 25
raheem 30
robert 35

In [104]:
d1={"ram":25,"raheem":30,"robert":35}
for i in d1:
    print(i,d1[i])

ram 25
raheem 30
robert 35

In [45]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [110]:
for key in range(len(d1)):
    print(key)

0
1
2

$creating$ $a$ $empty$ $dictionary$ $and$ $update$

In [111]:
s="shshh" 
for i in "apple":
    s=s+i
print(s)

shshhapple

In [49]:
d1={}
d1["fruit"]="apple"
d1

{'fruit': 'apple'}

In [51]:
#wap create a database
d1={}
d1["name"]="sravya"
d1["couse"]="ds and ai"
d1["institue"]="nareshit"
d1

{'name': 'sravya', 'couse': 'ds and ai', 'institue': 'nareshit'}

In [64]:
#wap create a dictionary based on two lists
names=["ram","raheem","robert"]
age=[25,30,35]
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [115]:
dict1={}
for i in range(len(names)):
    print(i,names[i],age[i])
    dict1[names[i]]=age[i]
dict1={names[i]:age[i] for i in range(len(names))}
dict1={names:age for names,age in zip(names,age)}
dict1

0 ram 25
1 raheem 30
2 robert 35

{'ram': 25, 'raheem': 30, 'robert': 35}

In [102]:
#wap take 5 random numbers and create a dictionary with even and odd
#output:{"even":[20,22],"odd":[19,22,23]}
d1={}
even=[]
odd=[]
import random
for i in range(5):
    num=random.randint(1,100)
    if num%2==0:
        even.append(num)
    else:
        odd.append(num)

d1['even']=even
d1['odd']=odd
d1

{'even': [66, 30, 28], 'odd': [79, 67]}

In [112]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [2]:
import os
os.getcwd()  #directoray

'C:\\Users\\shrav\\Desktop\\Data science'

$dictionary$ $methods$

$items-keys-values$

In [3]:
d1={"ram":25,"raheem":30,"robert":35}
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [8]:
items=d1.items()
items

dict_items([('ram', 25), ('raheem', 30), ('robert', 35)])

In [10]:
type(items)

dict_items

In [18]:
keys=d1.keys()
keys

dict_keys(['ram', 'raheem', 'robert'])

In [14]:
values=d1.values()
values

dict_values([25, 30, 35])

In [15]:
l1=[25,30,35]
l1.append(400)

In [16]:
l1

[25, 30, 35, 400]

In [17]:
values  #i want to convert into list
list(values) #then you can apply list methods

[25, 30, 35]

In [19]:
list(keys)

['ram', 'raheem', 'robert']

In [21]:
#interview question
#a)#i will give the dictionary
#can you extract keys ans values in a list
#b)#i will give two list keys and values
#can you create a dictionary
#a
d1={"ram":25,"raheem":30,"robert":35}
keys=list(d1.keys())
values=list(d1.values())

In [22]:
keys,values

(['ram', 'raheem', 'robert'], [25, 30, 35])

In [23]:
#b==m1
names=["ram","raheem","robert"]
age=[25,30,35]
d1={}
for i,j in zip(names,age):
    d1[i]=j
d1

{'ram': 25, 'raheem': 30, 'robert': 35}

In [24]:
#b==m2
dict1={}
for i in range(len(names)):
    print(i,names[i],age[i])
    dict1[names[i]]=age[i]
dict1={names[i]:age[i] for i in range(len(names))}
dict1={names:age for names,age in zip(names,age)}
dict1

0 ram 25
1 raheem 30
2 robert 35

{'ram': 25, 'raheem': 30, 'robert': 35}

In [207]:
s1="virat.kohli@blr.com,rohit.shrama@mumbai.com,kl.rahul@lucknow.com"
#{"1st_name":["virat","rohit","kl"]
 # "second_name":["kohil","sharma","rahul"]
 #  "company":["blr","mumbai","lucknow"] }
#print(s1.index("."))
d4={}
d1={}
f_n=s1[:s1.index(".")]
f_n

'virat'

In [208]:
s1[s1.index(".")+1:s1.index("@")]

'kohli'

In [209]:
s1.index(".",s1.index(".")+1)

15

In [210]:
s1[s1.index("@")+1:s1.index(".",s1.index(".")+1)]

'blr'

In [211]:
f_n=s1[:s1.index(".")]
s_n=s1[s1.index(".")+1:s1.index("@")]
t_n=s1[s1.index("@")+1:s1.index(".",s1.index(".")+1)]
f_n,s_n,t_n
d1["f_n"]=f_n
d1["s_n"]=s_n
d1["t_n"]=t_n
d1

{'f_n': 'virat', 's_n': 'kohli', 't_n': 'blr'}

In [212]:
d2={}
str1="rohit.shrama@mumbai.com"
str1.index(".")

5

In [213]:
f_n=str1[:str1.index(".")]
f_n

'rohit'

In [214]:
str1.index("@")

12

In [215]:
s_n=str1[str1.index(".")+1:str1.index("@")]
s_n

'shrama'

In [216]:
str1.index(".",str1.index(".")+1)

19

In [217]:
t_n=str1[str1.index("@")+1:str1.index(".",str1.index(".")+1)]
t_n

'mumbai'

In [218]:
d2["f_n"]=f_n
d2["s_n"]=s_n
d2["t_n"]=t_n
d2

{'f_n': 'rohit', 's_n': 'shrama', 't_n': 'mumbai'}

In [219]:
d3={}
s11="kl.rahul@lucknow.com"
f_n=s11[:s11.index(".")]
f_n

'kl'

In [220]:
s11.index(".")

2

In [221]:
s11.index("@")

8

In [222]:
s_n=s11[s11.index(".")+1:s11.index("@")]
s_n

'rahul'

In [223]:
s11.index(".",s11.index(".")+1)

16

In [224]:
t_n=s11[s11.index("@")+1:s11.index(".",s11.index(".")+1)]
t_n

'lucknow'

In [225]:
d3["f_n"]=f_n
d3["s_n"]=s_n
d3["t_n"]=t_n
d3

{'f_n': 'kl', 's_n': 'rahul', 't_n': 'lucknow'}

In [231]:
d4["f_n"]=list(d1.values())
d4["s_n"]=list(d2.values())
d4["t_n"]=list(d3.values())

In [232]:
d4

{'f_n': ['virat', 'kohli', 'blr'],
 's_n': ['rohit', 'shrama', 'mumbai'],
 't_n': ['kl', 'rahul', 'lucknow']}

In [98]:
#words-frequency
str11="can can you canner can you able to can canner"
#{"can":4,"you":2,"canner":2,"able":1,"to":1}
d1={}
l11=str11.split(" ")
l11
count=0
for i in l11:
    #print(i)
    d1[i]=l11.count(i)
d1

{'can': 4, 'you': 2, 'canner': 2, 'able': 1, 'to': 1}

In [99]:
str11="can can you canner can you able to can canner"
str11.split()

['can', 'can', 'you', 'canner', 'can', 'you', 'able', 'to', 'can', 'canner']

In [100]:
l11.count("can")

4

In [233]:
d111={"a":20,"b":30,"c":40}
d222={"a":50,"b":100,"c":200}
#o/p{"a":70,"b":130,"c":240}
d3={}
if len(d111)==len(d222):
        for i in d111:
            d3[i]=d111[i]+d222[i]
d3

{'a': 70, 'b': 130, 'c': 240}

In [234]:
d111={"a":20,"b":30,"c":40,"d":500}
d222={"a":50,"b":100,"c":200}
d3={}
if len(d111)==len(d222):
        for i in d111:
            d3[i]=d111[i]+d222[i]
else: len(d111)>len(d222)  
for i in d111:
    
    #d3[i]=d111[i]+
    d3[i]=d111[i]
        
d3

{'a': 20, 'b': 30, 'c': 40, 'd': 500}

$clear-copy$

In [8]:
d1={"a":20,"b":30,"c":40}
d2={"d":30,"f":40,"e":50}
d2=d1.copy()
d1.clear()
print(d1)
print(d2)

{}
{'a': 20, 'b': 30, 'c': 40}

$pop-popitem-del$

In [ ]:
#POP-will remove  specified item and return value
#popitem()will remove last item and returns the key-value
#del will delete the item by providing key/dictionary

In [16]:
d1={"a":20,"b":30,"c":40}
d2={"d":30,"f":40,"e":50}
d1.pop("c")

40

In [17]:
d1.popitem()

('b', 30)

In [26]:
del d2["e"]

In [27]:
d2

{'d': 30, 'f': 40}

In [23]:
d1={"a":20,"b":30,"c":40}

In [25]:
del(d1)

In [21]:
l1=[10,20,30,40]
del l1[1]

In [22]:
l1

[10, 30, 40]

In [ ]:
-items/keys/values
-if i provide two lists how to make dictionary
-if i provide dictionary you know how to generate list
-create an empty string/list/dictionary
-counter program
-summ
-function
-pop/popitem/del
-copy/clear

$fromkeys-get$

In [30]:
d3={"a":20,"b":30,"c":40}
d4={"d":30,"f":40,"e":50}
d3.get("c")

40

In [32]:
d3.get("z")    #no error default 
#how many ways we can do
#what output it is showing
#what is the difference
#we can access the values by providing key as index and key in get method
#but if the key is not present in dictionary ,key as index will give key error
#get method will not return anything and no error

In [43]:
d1={"raheem"}
d2={}.fromkeys("raheem")

In [44]:
d2

{'r': None, 'a': None, 'h': None, 'e': None, 'm': None}

$setasdefault$

In [45]:
d3={"a":20,"b":30,"c":40}
d4={"d":30,"f":40,"e":50}
d3.setdefault("d")

In [46]:
d3

{'a': 20, 'b': 30, 'c': 40, 'd': None}

In [47]:
d5={}
d5.setdefault("nareshit","ds")

'ds'

In [48]:
d5

{'nareshit': 'ds'}

In [50]:
d2={}
d2["nareshit"]="ds"
d2["city"]

KeyError: 'city'

In [51]:
d6={}
d6.setdefault("nareshit","ds")
d6.setdefault("city")
d6.setdefault("nareshit",["ds","mlops","de"])
d6["nareshit"]=["ds"]
d6.setdefault("city","hyd")
d6

{'nareshit': ['ds'], 'city': None}

In [63]:
d3={"a":20,"b":30,"c":40}
d4={"a":30,"f":40,"e":50}

In [64]:
d3.update(d4)

In [65]:
d3

{'a': 30, 'b': 30, 'c': 40, 'f': 40, 'e': 50}

In [66]:
d4.update(d3)

In [67]:
d4

{'a': 30, 'f': 40, 'e': 50, 'b': 30, 'c': 40}

In [69]:
t1=[(1,2),(2,3)]
d1={}
d1.update(t1)
d1

{1: 2, 2: 3}