$lambda$

$one-argument$

In [1]:
def add(x):
    return(x+10)
add(10)

20

In [2]:
def add(x):
    sum=x+10
    return(sum)
add(10)
#how many arguments are present:x
#what ur returning?:x+10

20

In [9]:
add=lambda x:x+10
add(20)

30

In [10]:
square=lambda x:x*x
square(5)

25

In [11]:
cube=lambda x:x*x*x
cube(5)

125

$two-arguments$

In [12]:
add=lambda a,b:a+b
add(2,3)

5

In [15]:
avg=lambda a,b,c:(a+b+c)/3
avg(1,2,3)

2.0

In [17]:
avg=lambda a,b,c=3:round((a+b+c)/3,2)
avg(1,2)

2.0

$if-else$

In [18]:
def greater():
    a=10
    b=20
    if a>b:
        print(a)
    else:
        print(b)

In [19]:
greater()

20

In [20]:
greater=lambda  a,b:a if a>b else b
greater(10,20)

20

In [23]:
square=lambda a:(a**2,a**3)
square(10)

(100, 1000)

In [3]:
list1=["hyd","mumbai","chennai"]
#output:["Hyd","Mumbai","Chennai"]
#m-1:append method
#m-2:use list comprehension
#m-3:make a lambda function
output=[]
for i in list1:
    i=i.capitalize()
    output.append(i)
output

['Hyd', 'Mumbai', 'Chennai']

In [6]:
output1=[]
[i.capitalize() for i in list1]

['Hyd', 'Mumbai', 'Chennai']

In [ ]:
lambda <arguments>:<output>,<iterator>
#whenever you use iterations
#iterator:some thing can be iterable/you can print using for loop
#list,string,tuple,dictionary

In [8]:
list1=["hyd","mumbai","chennai"]
lambda i:i.capitalize(),list1
#lambda i:i.capitalize(),=====is function

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'chennai'])

-next thing is map input and output

In [9]:
list1=["hyd","mumbai","chennai"]
map(lambda i:i.capitalize(),list1)

-store the output

In [10]:
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

step1-make a lambda function
step2-add your iterator
step3-map both function and iterator
step4-finally save the result in a list

In [11]:
list1=["hyd","mumbai","chennai"]
lambda i:i.capitalize(),list1
map(lambda i:i.capitalize(),list1)
list(map(lambda i:i.capitalize(),list1))

['Hyd', 'Mumbai', 'Chennai']

In [13]:
list1=[1,2,3,4,5]
#[1,4,9,16,25]
output=[]
for i in list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [14]:
lambda i:i*i,list1

(<function __main__.<lambda>(i)>, [1, 2, 3, 4, 5])

In [15]:
map(lambda i:i*i,list1)

In [16]:
list(map(lambda i:i*i,list1))

[1, 4, 9, 16, 25]

In [18]:
for i in map(lambda i:i*i,list1):
    print(i)

1
4
9
16
25

In [17]:
tuple(map(lambda i:i*i,list1))

(1, 4, 9, 16, 25)

In [19]:
dict(map(lambda i:i*i,list1))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [22]:
list1=[1,2,3]
list2=[11,22,33]
#[12,24,36]
# for i,j in zip(list,list2):
#     print(i+j)
list(map(lambda i,j:i+j, list1,list2))

[12, 24, 36]

In [23]:
str(map(lambda i,j:i+j, list1,list2))

'<map object at 0x00000203FFA2D180>'

In [26]:
list1=["h#d","mum#bai","chennai"]
#["h#d","mum#bai"]
# for i in list1:
#     if "#" in i:
#         print(i)
lambda i: i if "#"in i,list1

SyntaxError: expected 'else' after 'if' expression (965126240.py, line 6)

In [ ]:
lambda <argument>:<condition>,<iterator>

In [29]:
list(map(lambda i:"#"in i,list1))

[True, True, False]

$filter$

In [30]:
list(filter(lambda i:"#"in i,list1))

['h#d', 'mum#bai']

In [ ]:
#connect chatgpt through python
#we connected makersuite