$list$

In [ ]:
array of elements

In [ ]:
string1="python"

In [3]:
list1=[1,2,3,4]
list1    #u can write numbers

[1, 2, 3, 4]

In [4]:
list2=['a','b','c','d'] #u can write strings
list2

['a', 'b', 'c', 'd']

In [5]:
list3=[1,2,3,4,'a','b','c']
list3

[1, 2, 3, 4, 'a', 'b', 'c']

In [6]:
list4=[1,"apple",2,10.3,(10+3j)]
list4

[1, 'apple', 2, 10.3, (10+3j)]

-list is an array of elements
-list elements are heterogenous (different)data types are allowed
-duplicates are  allowed
-list in list will also works

In [7]:
list5=[100,100,100]
list5

[100, 100, 100]

In [8]:
list1=[[1,2,3]]
list1

[[1, 2, 3]]

In [9]:
list1=[["1,2,3"]]
list1[0][0]

'1,2,3'

In [10]:
list4=[1,"apple",2,10.3,(10+3j)]
type(list4)

list

In [11]:
list3=[1,2,3,4,'a','b','c']
type(list3)

list

In [12]:
list1=[1,2,3,4]
max(list1)

4

In [13]:
list2=['a','b','c','d'] 
max(list2)

'd'

In [14]:
list3=[1,2,3,4,'a','b','c']
max(list3)

TypeError: '>' not supported between instances of 'str' and 'int'

In [15]:
list4=[1,"apple",2,10.3,(10+3j)]
max(list4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [16]:
#list1 #4
#list2 #d=====>ascii ord
#list3 #error we cant compare different data types
#list4 #error we cant compare different data types

In [17]:
list1=[1,2,3,4]
min(list1)

1

In [18]:
min(list2)

'a'

In [19]:
min(list3)

TypeError: '<' not supported between instances of 'str' and 'int'

In [20]:
len(list1)

4

In [21]:
len(list2)

4

In [22]:
len(list3)

7

In [23]:
len(list4)

5

sum

In [24]:
sum(list1)

10

In [25]:
print(list1)
print(sum(list1))

[1, 2, 3, 4]
10

In [26]:
sum(list2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

-sum
-range
-eval

$in operator$

In [28]:
1 in list1

True

In [29]:
2 in list1

True

In [30]:
3 in list1

True

In [31]:
4 in list1

True

In [32]:
5 in list1

False

In [33]:
#can i iterate through for loop
for i in list1:
    print(i)

1
2
3
4

$concatenation$

In [34]:
list1

[1, 2, 3, 4]

In [35]:
list2

['a', 'b', 'c', 'd']

In [36]:
print(list1+list2)
print(list2+list1)

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [37]:
new_list=(list1+list2)

In [38]:
new_list

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [39]:
list1*3

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [40]:
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [41]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [42]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

 $index$

In [43]:
list3

[1, 2, 3, 4, 'a', 'b', 'c']

In [44]:
#python index starts with zero
list1[0],list2[1],list3[3],list4[4]
list3[0],list3[1],list3[2],list3[3]

(1, 2, 3, 4)

In [45]:
for i in range(len(list3)):
    print(i,list3[i])

0 1
1 2
2 3
3 4
4 a
5 b
6 c

-1-2-3-4-5-6-7-8
1  2 3 4 a b c d 
0  1 2 3 4 5 6 7

In [49]:
for i in range(len(list3)):
    print("positive index{} and negative index is{} for a element {}".format(i,i-len(list3),list3[i]))
#     print(len(list3))

positive index0 and negative index is-7 for a element 1
positive index1 and negative index is-6 for a element 2
positive index2 and negative index is-5 for a element 3
positive index3 and negative index is-4 for a element 4
positive index4 and negative index is-3 for a element a
positive index5 and negative index is-2 for a element b
positive index6 and negative index is-1 for a element c

In [1]:
#wap find the elements which are having len<3
#list=["apple","ball","cat","ab","cd"."ef"]
list1=["apple","ball","cat","ab","cd","ef"]
for i in range(len(list1)):
# print(list1[i])
    if len(list1[i])<3:
        print(list1[i])
# for i in list1:
#     if len(i)<3:
#         print(i)

ab
cd
ef

In [58]:
for i in list1:
    if len(i)<3:
        print(i)

ab
cd
ef

In [6]:
#wap the elements which are having #symbol
#list=["ap#le","b#ll","c#t","ab","cd"."ef"]
list1=["ap#le","b#ll","c#t","ab","cd","ef","#"]
for i in range(len(list1)):
    print(list1[i])
    if list1[i]=="#":
        print(list1[i])

ap#le
b#ll
c#t
ab
cd
ef
#
#

In [7]:
for i in range(len(list1)):
    print(list1[i])

ap#le
b#ll
c#t
ab
cd
ef
#

In [76]:
list1=["ap#le","b#ll","c#t","ab","cd","ef"]
count=0
for i in list1:
    if "#" in i:
        print(i)
        count=count+1
print(count)

ap#le
b#ll
c#t
3

In [136]:
list1=[1,2,3,4]
list1

[1, 2, 3, 4]

In [140]:
list2=[3]
list2.index(3)

0

In [86]:
list1=[1,2,3,["apple","ball"]]
#retrive the ball using index
len(list1)

4

In [85]:
list1=[1,2,3,["apple","ball"]]
list1[3][1]

'ball'

In [94]:
list2=[[[[[[["cherry"]]]]]]]
list2[0][0][0][0][0][0][0]

'cherry'

In [145]:
list2=[[[[[[["cherry"]]]]]]]
list2[0][0][0][0]

[[['cherry']]]

In [109]:
list3=[[[["a","b",[[[1,2,3,["car"]]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

In [158]:
list3=[[[["a","b",[[[1,2,3,["car"]]]]]]]]
list3[0][0][0][2][0][0][3][0]

'car'

In [110]:
list5=[9,8,7]

In [111]:
list5[0]

9

In [112]:
list5[1]

8

In [ ]:
list6=[]

$mutable$

In [115]:
list1="welcome"
list1.replace("l","L")

'weLcome'

In [117]:
list1=["a","b","c"]
list1[0]=100
list1

[100, 'b', 'c']

$slice$

In [159]:
list1=[10,20,30,40,50,"p","y","t","h","o","n","a","b","c","d"]
print(list1[2:14:3])
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-2:14:-3])

[30, 'p', 'h', 'a']
[]
[]
[30]
['c']
[]
['c', 'n', 't', 50]
[]

In [160]:
dir([])

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$clear-copy$

In [125]:
list1=[1,2,3,4]
#i want to copy these elements in a list2
list2=list1.copy()
list2

[1, 2, 3, 4]

In [126]:
list1.clear()

In [127]:
print("list1:",list1)
print("list2:",list2)

list1: []
list2: [1, 2, 3, 4]

17-11-2023

$list methods$

$append$

In [2]:
#add something to the end of a written document
list1=[100,200]
#[100,200,300]
list1.append(300)
list1

[100, 200, 300]

In [3]:
list1=[]
list1.append(100)
list1.append(200)
list1.append(300)
list1

[100, 200, 300]

In [5]:
list1=[]
list1.append(100,200) #list.append() take only one agrument
list1

TypeError: list.append() takes exactly one argument (2 given)

In [6]:
list1.append([100,200])

In [7]:
list1

[[100, 200]]

In [9]:
list1.append([100,200,"apple"])

In [10]:
list1

[[100, 200], [100, 200, 'apple']]

In [11]:
#input list=[1,2,3,4,5]
#create a new list=[1,4,9,16,25]
#write normal python code
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [12]:
#i dont want to print the values ,i want to save the values
list1=[1,2,3,4,5]
output=[] #to save the results we should type output=[] and then insteadof print(i*i)/output.append(i*i)
for i in list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [19]:
list2=["hyd",'bengaluru','delhi']
output=[]
for i in list2:
    i=i.capitalize()
    output.append(i)
output

['Hyd', 'Bengaluru', 'Delhi']

In [156]:
list3=["h#d",'beng#luru','delhi']
#output=['h#d','beng#luru'] 
output=[]
for i in list3:
    if '#'in i:
        print(i)
    output.append(i)
output

h#d
beng#luru

['h#d', 'beng#luru', 'delhi']

$list comprehension$

In [33]:
#code in a single line====>speed the process
lis1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
output
#step-1==intialized the list output=[]
#step-2===iterate the loop
#step-3===you save the output
output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [35]:
list2=["hyd",'bengaluru','delhi']
output=[]
for i in list2:
    i=i.capitalize()
    output.append(i)
output 
output1=[i.capitalize() for i in list2]
output1

['Hyd', 'Bengaluru', 'Delhi']

In [39]:
#create the list of 20 numbers from 1 to 20
#==================================m-1
for i in range(21):
    print(i)
#===================================m-2
output=[]
for i in range(21):
    output.append(i)
output
#======================================m-3
output1=[i for i in range(21)]
output1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [41]:
#list comprehenshion with if condition
list3=["h#d",'beng#luru','delhi']
output=[]
for i in list3:
    if'#' in i:
        output.append(i)
output
#<o/p><forloop><if_condition>
output1=[i for i in list3 if'#' in i]
output1

['h#d', 'beng#luru']

In [47]:
list4=["abcd","abc","ac","a"]
#elements less than 3
#["ac","a"]
for i in list4:
    if len(i)<3:
        print(i)
output=[]
for i in list4:
    if len(i)<3:
        
        output.append(i)
output

ac
a

['ac', 'a']

In [61]:
list1=[1,2,3,4,5,6]
output=[]
for i in list1:
    if i%2==0:
        output.append("even number is {}".format(i))
    else:
        output.append("odd number is {}".format(i))
output

['odd number is 1',
 'even number is 2',
 'odd number is 3',
 'even number is 4',
 'odd number is 5',
 'even number is 6']

In [62]:
output1=["even number is {}".format(i) if i%2==0 else("odd number is {}".format(i)) for i in list1]
output1

['odd number is 1',
 'even number is 2',
 'odd number is 3',
 'even number is 4',
 'odd number is 5',
 'even number is 6']

In [59]:
list1=[1,2,3,4,"a","b","b","b","c"]
list1.count("b")

3

$extend$

In [65]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
list1
#here the list1 will be updated

['a', 'b', 'c', 1, 2, 3]

In [67]:
list1=["a","b","c"]
list2=[1,2,3]
list1+list2

['a', 'b', 'c', 1, 2, 3]

In [68]:
list1=["a","b","c"]
list2=[1,2,3]
list1.append(list2)

In [69]:
list1

['a', 'b', 'c', [1, 2, 3]]

In [70]:
list1=["a","b","c"]
list2=[1,2,3]
list1.extend(list2)
list1

['a', 'b', 'c', 1, 2, 3]

append vs extend vs concat

In [ ]:
#append will add the element at last,that element can be any type 
  -list1=[1,2,3]
  -list2=["a","b"]
  -list1.append(list2)=[1,2,3,["a","b"]]
#extend will update the list by adding new elements,the result also save in a same list
  -list1=[1,2,3]
  -list2=["a","b"]
  -list1.extend(list2)=[1,2,3,"a","b"]
#concat will add two lists,but the result will not update in a same list
  -list1=[1,2,3]
  -list2=["a","b"]
  -list1.append(list2)=[1,2,3,"a","b"]

$iterator$

In [ ]:
#iterator word====>loop
#the elements we can print using for loop 
#-string="python" we can print each letter using for loop
#-list1=[1,2,3] we can print each element using for loop

In [73]:
val=reversed("python")
val

In [74]:
for i in val:
    print(i)

n
o
h
t
y
p

In [75]:
list1=[1,2,3]
list1.extend([1,2,3,4])
list1

[1, 2, 3, 1, 2, 3, 4]

In [78]:
list1=[1,2,3]
list1.extend("python")
list1.append("python")
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

$pop-remove-del$

In [79]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n', 'python']

In [80]:
list1.pop()

'python'

In [81]:
list1

[1, 2, 3, 'p', 'y', 't', 'h', 'o', 'n']

In [82]:
list1
list1.pop(5)
#inside bracket default argument is there====index=-1
#-1 menas last value 
#if u not provide any value it will remove last value
#if i provide any index ,it will remove that element
#it is also returning which element it is removing

't'

In [88]:
 list1=[100,200,300,100]  #duplicates are allowed
list1.remove(100)         #first occurance will gone
                          #it will not return the value

In [89]:
list1

[200, 300, 100]

In [90]:
del(list1)  #list1 will be deleted
            #del is keyword not method

In [91]:
list1

NameError: name 'list1' is not defined

In [92]:
list1=[100,200,100,300]
del list1[2]
list1

[100, 200, 300]

In [ ]:
-index
-insert
-reverse===========reversed
-sort==============sorted

In [121]:
list1.index(100)

0

In [113]:
list1=[100,200,100,300]
list1.insert(4,500)

In [116]:
list1

[100, 200, 100, 300, 500]

In [117]:
list1.reverse()

In [118]:
list1

[500, 300, 100, 200, 100]

In [119]:
list1.sort()

In [120]:
list1

[100, 100, 200, 300, 500]

In [122]:
list1.append(200)

In [123]:
list1

[100, 100, 200, 300, 500, 200]

In [124]:
list1.extend(list2)

In [125]:
list1

[100, 100, 200, 300, 500, 200, 1, 2, 3]

In [130]:
val=reversed(list1)
val

In [131]:
for i in val:
    print(i)

3
2
1
200
500
300
200
100
100

In [135]:
list1=["ram","robert","raheem"]
list2=[25,30,35]
#"ram age is 25"
#"robert age is 30"
#"raheem age is 35"
for i,j in zip(list1,list2):  #zip is used if two lists are there
    print(i,j)

ram 25
robert 30
raheem 35

In [142]:
list1=[100,200,300]
list2=[25,30,35]
output=0
for i,j in zip(list1,list2):
    print(i,j)
list1.append(list2)
list1
output=[i+j for i,j in zip(list1,list2)]
output

100 25
200 30
300 35

[125, 230, 335]

In [152]:
#take 5 questions in list1
#tke corresponding 5 ans in another list2
#iterate through list1
#every question should print
#input("tell the answer")
#answer will check in list2
#if it is there: marks=marks+1
#else:no marks
#how many right answers you made,how many answers you get
#=========================================
list1=["who is pm of india","what is the capital of india","who is president of india"]
list2=["modi","delhi","draupathi"]
marks=0
correct_answer=0
wrong_answer=0
for i in range(len(list1)):
    print("q1:")
    answer=input("enter the answer:")
    if answer.lower()==list2[i]:
        print("correct")
        marks=marks+1
        correct_answer=correct_answer+1
    else:
        print("no marks")
        marks=marks-1
        wrong_answer=wrong_answer+1
        
print("correct_answers is {}".format(correct_answer),"marks {}".format(marks))

q1:
enter the answer:modi
correct
q1:
enter the answer:india
no marks
q1:
enter the answer:draupathi
correct
correct_answers is 2 marks 1

In [2]:
list1=[1,4,5,6,5,2]
list1.index(5)

2

In [4]:
f_i=list1.index(5)
list1.index(5,f_i+1)

4

In [ ]:
x=__next__

In [27]:
#wap to find the max value without suing max keyword
arr=[100,130,120]
max1=0
for i in arr:
    print(arr)
    if i>max1:
        max1=i
print(max1)

[100, 130, 120]
[100, 130, 120]
[100, 130, 120]
130