In [1]:
list1=[1,2,3,"apple",(10+3j),11.23]
list1

[1, 2, 3, 'apple', (10+3j), 11.23]

In [6]:
for i in range(len(list1)):
    print(i,list1[i])

0 1
1 2
2 3
3 apple
4 (10+3j)
5 11.23

In [14]:
for i in list1:
    print(i)

1
2
3
apple
(10+3j)
11.23

In [8]:
list1[0],list[1],list1[2],list1[3],list1[4],list1[5]

(1, list[1], 3, 'apple', (10+3j), 11.23)

In [113]:
list1=[1,2,3,4]
for i in range(len(list1)):
    #if list1[i]%2==0 :
    print("the positive index of{} is {} and negative index is {}".format(list1[i],i,i-len(list1)))
    #print("the negative index of{} is {}".format(i,list1[i]))

the positive index of1 is 0 and negative index is -4
the positive index of2 is 1 and negative index is -3
the positive index of3 is 2 and negative index is -2
the positive index of4 is 3 and negative index is -1

In [117]:
list1[i]
list1

[1, 2, 3, 4]

In [3]:
list1=["apple","ball","cat","ab","cd","ef"]
for i in list1:
    #print(i)
    if len(i)<3:
        print(i)

ab
cd
ef

In [29]:
list1=["ap#le","b#ll","c#t","ab","cd","ef",'#']
for i in list1:
    #print(i)
    if "#" in i:
        print(i)

ap#le
b#ll
c#t
#

In [28]:
list1[list1.index('#')]

'#'

In [30]:
list1=["ap#le","b#ll","c#t","ab","cd","ef",'#']
count=0
for i in list1:
    #print(i)
    if "#" in i:
        print(i)
        count=count+1
print(count)

ap#le
b#ll
c#t
#
4

In [31]:
list1=[1,2,3,["apple","ball"]]
list1[3][1]

'ball'

In [42]:
list1=[[[[[[["cherry"]]]]]]]
list1[0][0][0][0][0][0][0]

'cherry'

In [72]:
list1=[[[["a","b",[[[1,2,3,["car"]]]]]]]]
list1[0][0][0][2][0][0][3][0]

'car'

In [84]:
list1=[10,20,30,40,50,"P","Y","T","H","O","N","a","b","c","D"]
print(list1[2:14:3])
print(list1[2:14:-3])
print(list1[2:-14:3])
print(list1[2:-14:-3])
print(list1[-2:14:3])
print(list1[-2:-14:3])
print(list1[-2:-14:-3])
print(list1[-2:14:-3])

[30, 'P', 'H', 'a']
[]
[]
[30]
['c']
[]
['c', 'N', 'T', 50]
[]

In [88]:
list1=[1,2,3,4]
list2=[2,3,4,5]
list1=list2.copy()
list1

[2, 3, 4, 5]

In [90]:
list3=list1.copy()
list3

[2, 3, 4, 5]

In [91]:
list1.clear()
list1

[]

In [92]:
list2.clear()
list2

[]

In [95]:
list1=[1,2,3,4]
list1.append(100)
list1

[1, 2, 3, 4, 100]

In [96]:
list1=[1,2,3,4,5]
for i in list1:
    print(i*i)

1
4
9
16
25

In [113]:
list1=[1,2,3,4,5]
output=[]
for i in list1:
    output.append(i*i)
output

[1, 4, 9, 16, 25]

In [114]:
output1=[i*i for i in list1]
output1

[1, 4, 9, 16, 25]

In [45]:
list1=[1,2,3,4,5,6,7,8,9,10]
list2=[2,4,6,8]
for i in range(len(list2)):
    #print(i)
    if list2[i] in list1:
        list1.remove(list2[i])
print(list1)

[1, 3, 5, 7, 9, 10]

In [36]:
list2 in [list1[list2]]

TypeError: list indices must be integers or slices, not list

In [30]:
[2,4,6,8] in [1,2,3,4,5,6,7,8,9,10,[2,4,6,8]]

True

In [4]:
list1=[1,2,3,4]
result=1
for i in list1:
    result=result*i
    #print(i*i) 
print(result)

24

In [5]:
for i in list1:
    print(i)

1
2
3
4

In [6]:
for i in range(len(list1)):
    print(i)

0
1
2
3

In [7]:
for i in range(list1):
    print(i)

TypeError: 'list' object cannot be interpreted as an integer

In [118]:
lidt1=[2,2,3,4] 
lidt1=set(lidt1)
lidt1=list(lidt1)
lidt1

[2, 3, 4]

In [159]:
#Write a Python program to count the number of strings from a given list of strings. The string length is 2 or more and the first and last characters are the same.
list1=['abc', 'xyz', 'aba', '1221']
first_char=0
last_char=-1
#result11=(first_char==last_char)
count=0
#Expected Result : 2
for i in range(len(list1)):
    if list1[i][first_char]==list1[i][last_char] and len(list1[i])>=2:
        count=count+1
print(count)

2

In [151]:
list1=['abc', 'xyz', 'aba', '1221']
count=0
for i in list1:
    if len(i)>2 and i[0]==i[-1]:
        count+=1
print(count)

2

In [152]:
list1=['abc', 'xyz', 'aba', '1221']
count = 0
for s in list1:
        if len(s) >= 2 and s[0] == s[-1]:
            count += 1
print(count)

2

In [16]:
#wap create a dictionary based on two lists
list11=["sravya","vijay","reddy"]
list2=["2003","2002","2003"]
d1={}
for i,j in zip(list11,list2):
    d1[i]=j
d1
for

{'sravya': '2003', 'vijay': '2002', 'reddy': '2003'}

In [21]:
list23={"soujanya":30,"renuka":50,"sravya":30}
for i in list23:
    if list23[i]>=50:
        print(list23[i])

50

In [8]:
#Write a Python script to add a key to a dictionary.
d1={0:10, 1:20}
d1.update({2:30})
d1

{0: 10, 1: 20, 2: 30}

In [32]:
#Write a Python script to concatenate the following dictionaries to create a new one.
#Write a Python script to concatenate the following dictionaries to create a new one.

d1={}
dic1={1:10,2:20}
dic2={3:30,4:40}
dic3={5:50,6:60}
list1=[]
list2=[]
for i in dic1:
    list1.append(i)
list1
for i in dic2:
    list1.append(i)
for i in dic3:
    list1.append(i)
list1
for i in dic1:
    list2.append(dic1[i])
for i in dic2:
    list2.append(dic2[i])
for i in dic3:
    list2.append(dic3[i])
list2
d1={key:value for key,value in zip(list1,list2)}
d1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [39]:
sravya(dic1,list1,i)
sravya(dic2,list1,i)
sravya(dic3,list1,i)
sravya(dic1,list2,dic1[i])
sravya(dic2,list2,dic2[i])
sravya(dic3,list2,dic3[i])

KeyError: 6

In [38]:
def sravya(dict89,list11,j):
    for i in dict89:
        list11.append(j)