$chapter:1:27-11-2023(data-types)$

In [ ]:
-python level-1
-lpython evel-2
-python level-3{oops}
-python flask create frameworks
           streamlit apps
-generativeAI

In [ ]:
statistics==10classes
15 days left for revision for python concepts

In [ ]:
EDA with python

$statistics$

In [ ]:
bridge=====ML

In [ ]:
what is statistics?
#for example
-mean,meadian,mode
-graphs
-probability
-data presentation
-deviations
-distribution
-maths
-analysis

In [ ]:
in ds=======no debate,only discussion
stats====story
viratkohil ODI average is approximately 60
1)sourav
2)affan
3)kumar
step-1:take overall run and matches played n calculate
    data collection
step-2:
    organize the data
step-3:
    analyse the data
step-4:
    data interperator
step-5:
    explain about
    Statistics is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data

$data types$

In [ ]:
two types of data types
integer float string
10
ten
rs agarwal======>quantitative and qualitative
quantitative=======numerical data
qualitative========categorical data

In [ ]:
physics======>hc varma

In [ ]:
Numerical type(numbers)                                                             categorical(english)
quantitative                                                                          qualitative
int       float
    a)discrete
      0 1 2
      how manys house:1 2
      countable===============discrete
    b)continues:(float vlues)
        what is ur height:5.5,5.7
        what is ur weight:38.8
        what is temp:19.5,98.4

In [ ]:
levels of data:
# numbers or sentences
# AI========>model
# true======>1
# numbers are most important
categorical data
level-1:
    nominal 
level-2:
    ordinal
numerical data
level-3:
    intervl 
level-4:
    ratio

$categorical-data$

$nominal-level$

In [ ]:
-random names
     it does not have any logic
     sravya,sravani
     hyd,blr,cehennai
     us,uk
=================noun

$ordinal-level$

In [ ]:
-u can see some order
  flop average hit superhit blockbuster
  primary=======>secondary========>territory
  teenage=======>younage==========>oldaage
  pass=====fail
  past====present======future
  one====two====three

$numerical-data$

$interval-level$

In [ ]:
zero scale
-a metric which does not have zero scale====>u can say in negative values 
-ex:temperature
    those who does have a zero scale is called interval level

$ratio-level$

In [ ]:
those who have a zero scale is called interval level

In [ ]:
temperature is which  level of data? interval level data
temp in hyd:50c
temp in blr:25c
hyd temp:2*blr temp
why cant it be ratio level?
temperature does not have zero scale
temperature has centigrades and f
50c===========f?=122
25c===========f?=77
50/25=122/77
not equal
my weight is 60kgs
my kid weight is 30kgs
60/30
60==========pounds#same value
30==========pounds
km===========m#same value
the metric which does not have zero scale does not  fall in ratio level

In [ ]:
what is the other metric have non zero scale?
-temperature
-inflation

In [ ]:
-reference books:
    open intro staistics
    kern black

In [ ]:
khan accademy
leonard

In [ ]:
i have one team:
5 members
i ask them to do a survey======which party will win

In [ ]:
population                 vs             sample
large group

In [ ]:
is population really exist?
nahi

In [ ]:
1)time
2)recourses
3)money
will assume there is a population,but u will work on samples
my team selected some people in TS
sir we observerd most of the pepole say xyz=====in telegana 
outcome:inference

In [ ]:
inferential statistics
we will work on sample and we will infer the population

In [ ]:
descriptive statistics:
will work on population,will estimate on population

$chapter:2:28-11-2023(graphical-representation)$

In [ ]:
python must
statistics theory====will do with python
strings/lists/dictionary

$tabular-representation$

In [ ]:
in your class 30 members boys and 50 members girls are there
i want to represent this by using a table

students/gender              |                 no of students
boys                         |                 30
girls                        |                 50

In [ ]:
frequency table
frequency:number of cycles per second

In [ ]:
frequency table:

In [ ]:
class                 |                class frequency 
boys                  |                30
girls                 |                50

In [ ]:
gender
male
f
m
f
m
f
m
m
f
f

In [ ]:
class               |             class frequency
male                |             5
female              |             4

In [ ]:
frequency table is only for categorical data
one column====class
another column====class frequency

$graphical -representation$

$bar-graph$

In [ ]:
#graph is in notes

In [ ]:
any categorical column
tabular representation:frequncy table
graphical representation:bar plot/bar graph
       x-axis:class(categorical)
       y-axis:class frequency(numerical)    
one axis should be categorical and other axis should be numerical

In [ ]:
80----100%
50----?
50*100/80=125/2=62.5 of girls are there

In [ ]:
class                 |                class frequency       |        relative frequency
boys                  |                30                    |          37.5%
girls                 |                50                    |          62.5%
total                 |                80                    |          100%

$pie-chart$

In [ ]:
to draw percentage
how much area ur covering
pie chart
#graph is in notes

$summary-questions$

categorical data:
q1)what is the name of tabular representation:frequency table
q2)what are the columns names in frequency table: class and class frequency  and realtive frequency
q3)graphical representation:bar graph/pie chart
q4)bar graph===x-axis:class and y-axis:class frequency
q5)pie chart===how much area covering ,realtive frequency representation

$histogram-graph$

In [ ]:
there are 10 members are there in the class
boys and girls
they got the marks
3  7  9  11 15 
18 20 23 25 30
raw data:simply observations
what you can do?
group the data
we divide data into some intervals,we check how many observations are fall in that interval
3-6
6-9
9-12
12-15
15-18
18-21
21-24

In [ ]:
frequency distribution table
data is distributing from 3 to 30
class interval          class interval frequency
0-5                     1
5-10                    2
10-15                   1
15-20                   3
20-25                   2
25-30                   1
#graph is in notes:histogram graph

In [ ]:
histogram graph====x-axis:class interval(numerical)
                y-axis:class interval frequency(numerical)
if you want to plot histogram
x-axis and y-axis should be numerical
pli.his(x,y==gender)======error#both should be numerical
plt.bar(x=salary,y=age)=====error#one should be numerical and other is categorical

In [ ]:
step-1:they provide a raw data====numerical type
step-2:frequency distribution table,class interval vs class interval frequency(raw data)
step-3:graphical representation :histogram( x-axis=numerical,y-axis=numerical)
step-4:will plot data distribution
#graph is in notes

$summary$

In [ ]:
categorical                                            |     numerical
table:frequency table (class vs class frequency)       |     frequency distribution table  (class inerval va class interval frequency)
graph:bar graph (x-axis:class y-axis:class frequency)  |     graph:histogram (class interval vs class interval frequency)
pie chart:relative frequency                           |     data distribution plot

$uni,bi,multi==variates$

In [ ]:
age   gender   income
3 variables/columns/features
-univariate analysis
analyse the age column

-bi-variate analysis
age and income is realted to eachother

-multivariate analysis
how age,gender,income realted

In [ ]:
1)univariate
2)bi-variate
3)multivariate

In [ ]:
freature selection/variable selection
100 coulmns====20 columns(reamining80 columns are duplicate)

In [ ]:
age         income
30          50k
35          60k
40          70k
age=========>increases
income======>increases
if you increase interval
if you decrease interval
debate

In [ ]:
mutually exclusive  
if you toss a coin=====head and tail
head===no trail
boys
girls
dice(1 to 6)
there is one job====two applicants

In [ ]:
step-1:min value and maxx value
     min=15k max=35k             2powerk
step-2:number of data observation=80
step-3:how many class intervals,what is the width of the interavl
      number of classes=7
interval=max-min/class

In [ ]:
15-18
18-21
21-24
24-27
27-30
30-33
33-36

$chapter:3:29-11-2023$

In [ ]:
1)data types/types of statistics/population vs sample

In [ ]:
tabular representation and graphical representation
     categorical:frequency table                    class vs class frequency
                   bar plot/pie chart
    numerical data:frequency distribution table     class interval vs class interval frequency
                   histogram graph=distribution table

In [ ]:
after plot distribution plot
there are two types of analysis
1)centre point analysis==============>central tendency
   -mean
   -median
   -mode
2)data flow analysis=================>data dispersion/data variance
   -range
   -mean deviation
   -absolute mean deviation
   -variance
   -standard deviation

$center-point-analysis$

$1-mean$

In [ ]:
average
equally distribution
example:virat kohil average in ODI is 60
he is expected to score 60 run in every match
in every match VK expected score is 60

In [ ]:
my ssc percentage is 89.5%
i scored 89.5 marks subjects
every subject he score near by average
89.5 out of 100 marks
89.5/100
on of average in each subject he can get 89.5  marks

In [ ]:
1,2,3,4,5
1+2+3+4+5/5
sum of observations/no of observations
x1,x2,x3,x4,x5
xbar=sample mean=x1+x2+x3+x4+x5/5
population mean=u(mew)
there are n obersvation
xbar=sample mean=x1+x2+x3+.......+xn/n 
formula in notes

In [ ]:
#next topics in notebook