In [1]:
#WAP ask the user enter a basic_salary
#     ask the user enter DA AMMOUNT
#     ask theuser to enter HRA ammount
#     calculate total pay=basic_salary+DA+HRA

In [5]:
basic_salary=eval(input("enter a basic salary:"))

enter a basic salary:20000

In [6]:
DA=eval(input("enter DA Aammount:"))

enter DA Aammount:280000

In [7]:
HRA=eval(input("enter HRA ammount:"))

enter HRA ammount:30000

In [10]:
total_pay=basic_salary+DA+HRA
print("your total pay is:",total_pay)

your total pay is: 330000

In [39]:
# WRITE A PROGRAM ASK THE USER TO ENTER SALARY
# ASK THE USER TAX PERCENTAGE
#CALCULATE HOW MUCH TAX USERNEETS TO PAy
salary=eval(input("enter your salary:"))

enter your salary:24000

In [40]:
tax_percentage=eval(input("enter the tax percentage:"))

enter the tax percentage:24

In [41]:
print("you need to pay:",tax_percentage*0.01*salary)

you need to pay: 5760.0

In [20]:
# write a program 
# wAP askthe user get a random value between 1 and 100
# perform the square of the number
import random
val1=random.randint(1,100)
square=val1*val1

In [22]:
print("the square of the {} is {}".format(val1,square))

the square of the 57 is 3249

In [25]:
# WAP ask the user enter a distance
#     ask the user enter a rate per distance
#     calculate total charge
distance=eval(input("enter a distance:"))
rate=eval(input("enter a rate per distance:"))
total_charge=distance*rate
print("enter total charge:",total_charge)

enter a distance:26
enter a rate per distance:27
enter total charge: 702

In [32]:
# ask the user enter total bill in dollars
# manager:the dollars are not accepted
# user:what will accepted
# mangaer:only indian rupees
# ask the user 
# total bill=100*8
# manager:thank you!
import time
bill=eval(input("enter toyal bill in dollar:"))
time.sleep(1)
print("manager:the dollars are not accepted")
print("user:what will accepted")
print("mangaer:only indian rupees")
time.sleep(0.1)
conversion_rate=eval(input("enter one dollar is equal to how many rupees:"))
totalbill=bill*conversion_rate
print("totalbill",totalbill)
print("manager:thank you!")

enter toyal bill in dollar:2
manager:the dollars are not accepted
user:what will accepted
mangaer:only indian rupees
enter one dollar is equal to how many rupees:80
totalbill 160
manager:thank you!

In [34]:
# father and son
# father : which course you want to do
# son: i want to pursue data science
# father:oh!that is very nice!
# father:may i know ur JEE rank
# son:200000
# father:then how can u pursue
# son:naresh IT
# father:how much isthe fees
# son:20000
# father:how many sems?
# father:how much total cost?
# son:4*20000(calc)
print("father : which course you want to do")
print("son: i want to pursue data science")
print("father:oh!that is very nice!")
print("father:may i know ur JEE rank")
rank=eval(input("how much is ur rank in JEE:"))
print("rank")
print("father:then how can u pursue")
print("son:naresh IT")
print("father:how much isthe fees")
fee=eval(input("how much is the fees:"))
print("fee")
sem=eval(input("how many sem:"))
print("sem")
print("father:how much total cost?")
totalcost=sem*fee
print("totalcost",totalcost)

father : which course you want to do
son: i want to pursue data science
father:oh!that is very nice!
father:may i know ur JEE rank
how much is ur rank in JEE:25000
rank
father:then how can u pursue
son:naresh IT
father:how much isthe fees
how much is the fees:18000
fee
how many sem:4
sem
father:how much total cost?
totalcost 72000